<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <div>
            <input type="text" v-model="name">
            <span>你的名字是{{name}}</span>
        </div>
        <div>
            <input type="text" v-model="age">
            <span>你的年龄是{{age}}</span>
        </div>
        <div>
            <input type="text" v-model="sex">
            <span v-show="sex">你的性别是{{sex}}</span>
        </div>
    </div>
</body>
<script src="../html/vue.js"></script>
<script>
    var app = new Vue({
        el : '#app',
        data : {
            name : '撒打算',
            age : '18',
            sex : 'man'
        }

    })
</script>
</html>